/* :root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

h2 a:visited {
  color: var(--tertiary);
}

h2 a {
  color: var(--primary);
}

header {
  margin-top: 50px;
}

main {
  margin: 20px auto;
  width: 94%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

.card-header h2 {
  color: var(--primary);
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-inline {
  display: inline;
}

.li-inline {
  display: inline;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: var(--dark);
}

.nav-item {
  margin: 0 40px;
}

.nav-item a {
  color: var(--primary);
}

.hero {
  padding: 3% 4%;
  background-color: var(--dark);
  color: var(--primary);
}

.hero p {
  max-width: 75%;
}

.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

.app-title a {
  color: var(--dark);
}

.list-group {
  padding: 1%;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-dark);
  color: var(--primary);
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--dark);
}

.footer a {
  display: inline-block;
  padding: 1em;
  margin-bottom: .5em;
  background-color: var(--dark);
  color: var(--primary);
  border-radius: var(--border-radius);
  text-decoration: none;
}

/* CARDS */
/* .card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 1%;
}

/* FORM */
/* .form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius); */


/* HEIGHT / WIDTH UTILS */
/* .min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
} */

/* FONT UTILS */
/* .text-uppercase {
  text-transform: uppercase;
} */

/* FLEX CONTENT */
/* .flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

/* .justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
  flex: 0 0 100%;
} */ 

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* background: rgb(0,0,0); */
  /* background: black; */
  display: flexbox;

  /* align-items: baseline; */
  flex-wrap: wrap;
  color: white;
  font-family: 'Girassol', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
background: rgb(0, 0, 0);
list-style: none;
/* background: radial-gradient(
  circle,
  rgba(0, 0, 0, 1) 4%,
  rgba(8, 0, 0, 1) 19%,
  rgba(33, 0, 0, 1) 36%,
  rgba(117, 0, 0, 1) 93%
); */
}

/* body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  background: rgb(0, 0, 0);
  /* background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 4%,
    rgba(8, 0, 0, 1) 19%,
    rgba(33, 0, 0, 1) 36%,
    rgba(117, 0, 0, 1) 93%
  ); */
/* }  */

.sidebarOption {
  display:flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  font-size: 20px;
  color: black;

  margin-right: 20px; 
}

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
  
}
.sidebarOption:hover, .material-icons:hover,
.fa-twitter:hover {
  /* background-color: #6a0000; */
  border-radius: 30px;
  color: black;
  transition: color 100ms ease-out;
  
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  
  /* margin-right: 20px; */
 }
.sidebarOption h2:hover {
  font-weight: 800;
  font-size: 20px;
  color: black;
  background-color: #6a0000;
  margin-right: 20px; 
}  

/* .sidebarOption:hover {
  background-color: #6a0000;
  border-radius: 30px;
  color: black;
  transition: color 100ms ease-out;
} */

.sidebarOption.active {
  color: #6a0000;
}
.sidebarOption.active:hover {
  /* background-color: #6a0000; */
  border-radius: 30px;
  color: black;
  transition: color 100ms ease-out;
}

.sidebar__tweet {
  width: 100%;
  background-color: #6a0000;
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}
.sidebar__tweet:hover {
  cursor:pointer;
  background-color: #6a0000;
  border-radius: 30px;
  color: black;
  transition: color 100ms ease-out;
}

body {
  display: column;
  /* height: 100vh; */
  /* max-width: 1300px; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  flex-direction: row;
}

.sidebar {

  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  /* color: black; */
  font-size: 30px;
}

/* feed */
.feed {
  flex: 0.5;
  border-right: 1px solid black;
  min-width: fit-content;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.feed__header {
  position: center;
  top: 0;
  background-color: black;
  z-index: 100;
  border: 1px solid black;
  border-radius: 10%;
  padding: 15px 20px;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
  border-radius: 50%;
  height: 40px;
}

.tweetBox {
  padding-bottom: 10px;

  padding-right: 10px;
}

.tweetBox form {
  display: flex;

  border: #6a0000 4%;
}

.tweetbox__input {

  display: flex;
  padding: 20px;
}

.tweetbox__input input {
  background-color: rgb(71, 69, 69);
  color:white;
  flex: 1;
  margin-left: 20px;
  font-size: 20px;

  outline: none;
  font-family: "Girassol", cursive;
  font-family: "Poppins", sans-serif;
}

.tweetBox__tweetButton {
  background-color: #6a0000;
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

.tweetBox__tweetButton:hover {
  cursor:pointer;
  background-color: #6a0000;
  border-radius: 30px;
  color: black;
  transition: color 100ms ease-out;
}

/* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #6a0000;
  padding-bottom: 10px;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: #6a0000;
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: rgb(245, 243, 243);
}

.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: #6a0000;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  background-color: #6a0000;
}

.widgets__searchIcon {
  color: rgb(252, 237, 237);
  background-color: #6a0000;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #6a0000;
  border-radius: 20px;
}

.widgets__widgetContainer h2 {
  color: white;
  font-size: 30px;
  font-weight: 800;
  background-color: #6a0000;
}

#profile-img {
  border-radius: 50%;
  height: 120px;
}

.span {
  border-radius: 50%;
  height: 80px;
}

.barrel {
  border-radius: 0%;
  height: 150px;
}
div#box {
  width: 100px;
  height: 100px;
  background-color: #6a0000;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
}

button#runaway_btn {
  cursor:pointer;
  background-color: #6a0000;
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  position: relative;
  z-index: 2;
}

button#runaway_btn:hover {

  cursor:pointer;
  background-color: #6a0000;
  border-radius: 30px;
  color: black;
  transition: color 100ms ease-out;
/* position:relative;
top:100px;
right: -30px;  */
display: none;
}
.wrapper {
  /* background: #6a0000; */
  /* border:1px solid  black;
  border-radius: 6px; */
  height: auto;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
 
}
.main-wrapper {
  background: black;
  background-image: url("./images/twitter.png");
  background-position: 0 50%;
  background-size: 100% auto;
  border-radius: 4px 4px 0px 0px;
  height: 95px;
  width: 100%;
}
#profile-link {
  background:none;
  border-radius: 6px;
  display: inline-block;
  float: left;
  margin: -30px 5px 0px 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
  color: black;
}
#profile-img {
  border: 2px solid #6a0000;
  border-radius: 7px;
  color: #6a0000;
  border-radius: 50%;
  /* height: 40px; */
}

#profile-marg {
  margin: 5px 0px 0px;
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;

}
#profile-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
#profile-name a {
  color: black;
}
#profile-state {
  padding: 15px;
}
#profile-Arrange {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  min-width: 100%;
  padding: 0px;
}
ul#profile-Arrange {
  list-style: none;
  margin: 0;
  padding: 0;
}
#profile-details a:hover {
  text-decoration: none;
}
#profile-number {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
#profile-label {
  color: #6a0000;
  font-size: 12px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}
#profile-number {
  color: #6a0000;
  font-size: 12px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

/* .tweetBox {

  position:relative;
  top: px;
  right: 0;
} */

.move-away {
  position:absolute;
  top:10px;
  right: 0;

}

div.banner {
  font-size:xx-large;
  width: 100%;
  height: 380px;
  margin-right: 3%;
  margin-left: 2%;
  color: #6a0000;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background: #6a0000;
  background-image:url("./images/toxic.webp");
  height: 250px; /* You must set a specified height */
background-position: 100%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:auto; /* Resize the background image to cover the entire container */
}

/* div.banner h1 {
background:none;

} */

.twitter-timeline{
  color: #6a0000;

}

.h2:hover {
  background: #6a0000;
}

.material-icons:hover h2 {

  background: #6a0000;
}



h1 {
  display:flex;
flex-direction:column;
  align-items:center;
  background: #6a0000;

  
}
span-1{

  background-color: #6a0000;
}

.twitter-tweet {

  max-width: 100%;
}
/* 
col-sm
@media screen and (min-width: 640px) {
  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-sm-12 {
    flex: 0 0 100%;
  }
}

/* col-md */
/* @media screen and (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }
}

/* col-lg */
/* @media screen and (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }
} */

/* col-xl */
/* @media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-xl-12 {
    flex: 0 0 100%;
  } */ 



