<div class="row">
  <div class="col-auto">
    <h2>{{generatedName}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia corporis, non tempore dolorem maxime et nobis aliquid excepturi, sit aut cumque accusamus quasi eaque reprehenderit. Numquam vero dolorem tenetur quae!</p>
  <p>92392</p>
  <p>joined 2022</p>


  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .navbar {
      overflow: hidden;
      background-color: #333;
    }
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: red;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    </style>
    </head>
    <body>
    
    <div class="navbar">
      <a href="#home">Post</a>
      <a href="#news">Replies</a>
      <a href="#news">Reactions</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> 
    </div>

<script src="./js/profile.js"></script>
